@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-size: 10px;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style-type: none; */
  text-decoration: none;
}
header {
  padding: 0 1.6rem;
}
.nav-bar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__toggleBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
}
