@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* =========== Global =========== */
body {
  font-size: 10px;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 370;
  /* height: 100%; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}
ul {
  list-style: none;
}
a {
  color: currentColor;
  background-color: transparent;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}

header {
  padding: 0.4rem 1.6rem;
  box-shadow: inset 0px -1px 2px 0px #8f8f8f;
  z-index: 10;
}
img {
  max-width: 100%;
}

/* =========== Nav =========== */
.hideCSS {
  display: none;
}
.text-center {
  text-align: center;
}
.burger-menu {
  opacity: 0.4;
}
.nav-bar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__toggleBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.nav-bar__flex-2c,
.nav-bar__flex-3c {
  display: none;
}
/* =========== Main =========== */
.content-padding-bottom {
  padding-bottom: 32px;
}

.primary-content-1c__first {
  background-color: #d4e9e2;
  color: #1e3932;
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.9;
}

.primary-content-2c {
  padding-bottom: 32px;
  background-color: #1f3932;
}

.primary-content-2c-box {
  text-align: center;
}

.primary-content-2c__second-content {
  color: #ffffff;
  padding: 1rem 3rem;
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.8rem;
  opacity: 0.9;
}

.primary-content-2c-playNow {
  font-size: 0.8rem;
  min-width: 33px;
  min-height: 33px;
  color: #fff;
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}

.primary-content-3c {
  color: #960048;
  font-size: 28px;
  font-weight: 700;
  padding: 32px 16px;
  letter-spacing: 1px;
}

.primary-content-4c-second {
  padding: 32px 16px;
}
.primary-content-4c-second h1 {
  color: #960048;
  font-size: 30px;
  margin-bottom: 24px;
  letter-spacing: 4px;
}

.primary-content-4c-second .second-summary {
  color: #960048;
  font-size: 25px;
  opacity: 0.9;
  margin-bottom: 32px;
  letter-spacing: 1px;
}
.primary-content-4c-second .explore-fall-flavors {
  border: 1px solid black;
  border-radius: 20px;
  color: #1e3932;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s ease;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.content-5c .second-summary {
  font-size: 24px;
}
.content-6c .primary-content-4c-second {
  display: flex;
  justify-content: center;
}
.content-7c__summary {
  color: #1e3932;
}

footer {
  padding: 32px;
}

footer .info {
  margin-bottom: 1.8rem;
}
footer .info h3 {
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.8;
}
footer .about-us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 1.411;
  color: #bababa(0, 0, 0, 0.87);
}
footer .iconButton {
  border: none;
  background: none;
  border-radius: 50%;
}
footer .iconButton:hover {
  background: #d1d0d0;
  transition: all 0.3s ease-out;
  transform: scale(1);
  cursor: pointer;
  opacity: 0.7;
}
footer .social-media {
  display: flex;
  margin-bottom: 1.8rem;
}
footer .social-icon {
  margin-right: 1rem;
}
footer .policy {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
footer .policy-content {
  margin-bottom: 1.2rem;
  font-size: 15px;
  font-weight: 400;
  color: #1e3932;
}
footer .policy a {
  text-decoration: none;
  color: #1e3932;
  font-weight: 400;
}
footer .policy a:hover {
  text-decoration: underline;
}
footer .bar {
  display: none;
}
footer p {
  color: #1e3932;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.info-flex__container .flex-row > ul > li {
  display: none;
}
@media only screen and (min-width: 769px) {
  .content-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  header {
    padding: 1.1rem 2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: currentColor;
  }
  .nav-bar__toggleBtn {
    display: none;
  }

  .nav-bar__flex-2c,
  .nav-bar__flex-3c {
    display: block;
  }

  .nav-bar-wrapper {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    align-items: center;
  }

  .signin {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 3px 11px;
    transition: all 0.2s ease;
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  .joinNow {
    color: #fff;
    background: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 11px;
    transition: all 0.2s ease;
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .flex-3c {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-3c a {
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 1rem;
  }
  .nav-bar-menu {
    display: flex;
  }
  .nav-bar-menu a {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1rem;
  }
  .primary-content-2c {
    padding: 0 2.4rem;
  }
  .primary-content-2c-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .primary-content-2c__second-content {
    line-height: 1.75;
    font-size: 1.1rem;
    opacity: 0.9;
    letter-spacing: 1.2px;
  }
  .primary-content-3c {
    color: #960048;
    font-size: 50px;
    font-weight: 700;
    padding: 32px 16px;
    letter-spacing: 1px;
  }

  .primary-content-4c {
    display: flex;
    flex-direction: row-reverse;
  }
  .primary-content-4c-first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primary-content-4c-first img {
    max-width: 100%;
    height: auto;
    padding-left: 260px;
  }
  .primary-content-4c-second h1 {
    color: #960048;
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: 7px;
  }
  .primary-content-4c-second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
  }
  .primary-content-4c.third {
    display: flex;
    flex-direction: row;
  }
  .content-5c .third-img {
    padding-left: 0;
  }
  .content-6c .fourth-img {
    padding: 0;
  }

  .content-6c__delicious {
    padding-right: 400px;
  }
  .content-7c .uber {
    padding: 0 10rem;
  }
  .content-8c .make-plan {
    padding: 32px 0;
  }
  .content-8c .fuel {
    padding-left: 0;
  }
  .content-8c .make-your-plan-to-vote {
    padding: 0 11rem;
  }
  .content-padding-bottom .enjoy {
    max-width: 60%;
  }
  footer .policy {
    display: flex;
  }
  footer .policy-content {
    display: flex;
  }
  footer .bar {
    margin: 0 1rem;
    display: block;
  }

  .info-flex__container {
    display: flex;
  }
  .info-flex__container div {
    margin-right: 2rem;
  }
  .info-flex__container .flex-row {
    display: flex;
    flex-direction: column;
  }
  .info-flex__container .flex-row ul li {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
  .info-flex__container .flex-row ul li:first-child {
    margin-top: 2rem;
  }
  .info-flex__container .flex-row a {
    text-decoration: none;
    opacity: 0.5;
  }
  footer .info button {
    display: none;
  }
}
@media only screen and (min-width: 1460px) {
  main {
    padding: 0 14rem;
  }
}
